version: '3'

services:
  app-prisma-studio:
    build:
      context: .
    ports:
      - '5555:5555'
    volumes:
      - .:/app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=nest
      - DB_USER=postgres
      - DB_PASS=123
    command: npx prisma studio --port 5555

    depends_on:
      - app

  app:
    build:
      context: .
    ports:
      - '8080:8080'
    volumes:
      - .:/app
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=nest
      - DB_USER=postgres
      - DB_PASS=123

    depends_on:
      - db
    command: npm run start:migrate:dev
  db:
    image: postgres:13
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
